
.chart-plot-background{
	-fx-background-color:  #212F3D;
}

.chart-title { /* FX theme stylesheet */
-fx-font-size: 2em;
-fx-text-fill: GREY;
}

.axis:left>*.axis-label  { /* FX theme stylesheet */
-fx-text-fill: GREY;
}
.box:hover{
	-fx-border-style: solid;
	-fx-border-width: 3px;
	-fx-border-radius: 5px;
	-fx-border-color: #5499C7;
}
.text-field{
	-fx-prompt-text-fill:  #17202A;
	-fx-text-fill: GREY;
}